{% extends "inventory/base.html" %}
{% load get_setting %}
{% load static %}

{% block title %}{{ asset.assetid }}{% endblock %}

{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left">
        <h4>{{ asset.assetid }}</h4>
    </div>
    <div class="w3-container">
        <div id="message" class="w3-col w3-padding w3-left"></div>
    </div>
    <div class="w3-container w3-margin-bottom">
        <div id="id_partdetail" class="w3-card w3-padding w3-left w3-col l6">
            <div class="w3-small">{{ asset.serialnumber }}</div>
            <div class="w3-left"><b>Part:</b> ${{ asset.part }}</div>
            <div class="w3-right"><b>Storage:</b> ${{ asset.storage }}</div>
        </div>
    </div>
    <div class="w3-container w3-margin-bottom">
        <div class="w3-card w3-padding w3-left w3-col l6">
            <div class="w3-left"><h5><b>Asset Details</b></h5></div>
            {% if perms.assets.can_add_assetdetail %}
            <div class="w3-right">
                <a href="/assets/admin/assetdetail/create/?asset={{ asset.id }}" alt="Add to Details" class="w3-button w3-hover-green w3-round w3-border">+ New</a>
            </div>
            {% endif %}
            {% if asset.has_details %}
            {% for detail in asset.get_details %}
            <div class="w3-card w3-padding"{% if forloop.first %} style="margin-top:50px;"{% endif %}>
                <div class="w3-left"><b>{{ detail.customfield.name }}</b></div>
                <div class="w3-right">{{ detail|render_customfield }}</div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<script src="{% static "common/js/jquery.min.js" %}"></script>
<script>
    function moveasset(id) {
        $.ajax({
            url: '/inventory/partstorage/' + id + '/add/1/',
            type: 'get',
            success: function(data) {
                $("#message").html(data);
                $.ajax({
                    url: '/inventory/partstorage/' + id + '/update/psstorage/',
                    type: 'get',
                    success: function(data) {
                        $("#id_" + id).html(data);
                    }
                });
            }
        });
    }
</script>
{% endblock %}