{% extends "inventory/base.html" %}
{% load get_setting %}

{% block title %}Parts List{% endblock %}

{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left w3-margin-top">
        <h4><b>Assets List</b></h4>
    </div>
    {% if perms.inventory.can_add_part %}
    <div class="w3-right">
        <a href="/assets/admin/asset/create/" alt="Add Asset" class="w3-button w3-hover-green w3-round w3-border">+ New</a>
    </div>
    {% endif %}
    <div class="w3-container">
        {% for asset in assets %}
        <div class="w3-col l12 xl6 w3-card w3-padding">
            <a href="{{ asset.get_absolute_url }}" class="w3-medium" alt="View Asset {{ asset.assetid }}">{{ asset.assetid }}</a>
            <a href="javascript:void(0)" onclick="ims_expand(this)" class="w3-button w3-right" alt="Expand information for {{ asset.assetid }}">+</a>
            <div class="w3-col w3-card w3-padding ims-hidden">
                <div class="w3-left w3-col w3-small">{{ asset.serialnumber }}</div>
                <div class="w3-left"><u>Part:</u> ${{ asset.part }}</div>
                <div class="w3-right"><u>Storage:</u> ${{ asset.storage }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
{% include "inventory/pagination.html" with page=assets %}
</div>
<script>
    function ims_expand(elem) {
        var parent = elem.parentNode;
        var child_div = parent.getElementsByTagName("div")[0];
        if (elem.text === "+") {
            elem.text = "-";
            child_div.classList.remove("ims-hidden");
        } else {
            elem.text = "+";
            child_div.classList.add("ims-hidden");
        }
    }
</script>
{% endblock %}
{% block sidebar %}
<div id="search" class="ims-search-bar w3-padding w3-card" style="top:43px;">
    <form method="get" style="margin:0;">
        <input type="text" placeholder="search for assets" name="q"{% if query %} value="{{ query }}"{% endif %}/>
        <button class="w3-button" type="submit">Search</button>
    </form>
</div>
<script>
    var prev_scroll_pos = window.pageYOffset;
    window.onscroll = function() {
        var current_scroll_pos = window.pageYOffset;
        var elem = document.getElementById("search");
        if (prev_scroll_pos > current_scroll_pos) {
            elem.style.top = "43px";
        } else {
            elem.style.top = "-15px";
        }
        prev_scroll_pos = current_scroll_pos;
    }
</script>
{% endblock %}
