{% extends "inventory/base.html" %}
{% load get_setting %}
{% load custom_tags %}
{% block title %}Assets Admin{% endblock %}
{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left w3-margin-top">
        <h4><b>Assets Admin</b></h4>
    </div>
    <div class="w3-container">
        <div class="w3-col l12 xl6 w3-card w3-padding w3-bar-block">
            <div class="w3-bar-item">
                {% if perms.assets.view_asset %}<a class="w3-button ims-form-field" href="/assets/admin/asset/">Asset</a>{% endif %}
                {% if perms.assets.view_assetdetail %}<a class="w3-button ims-form-field" href="/assets/admin/assetdetail/">AssetDetail</a>{% endif %}
                {% if perms.assets.view_customfield %}<a class="w3-button ims-form-field" href="/assets/admin/customfield/">CustomField</a>{% endif %}
            </div>
	</div>
    </div>
</div>
{% endblock %}