{% extends "inventory/base.html" %}
{% load get_setting %}
{% load custom_tags %}
{% block title %}Update {{ name }}{% endblock %}
{% block content %}
<div class="w3-container w3-padding w3-light-gray" style="margin-top:20px;">
    <a href="/assets/admin/" alt="Assets Admin">Assets Admin</a>
    »
    <a href="/assets/admin/{{ objtype|lower }}/" alt="Assets Admin {{ objtype }}">{{ objtype }}</a>
    » {{ name }}
</div>
<div class="w3-container">
    <div class="w3-left w3-margin-top">
        <h4><b>Update {{ name }}</b></h4>
    </div>
    <div class="w3-container">
        <div class="w3-col w3-padding w3-left">{{ message }}</div>
    </div>
    <div class="w3-container">
        <form class="w3-col l12 xl6 w3-card w3-padding w3-bar-block" action="." method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
            <div class="w3-bar-item">
                {{ field.errors }}
                {{ field | add_classes_and_auto_format:"w3-left ims-select-options ims-form-field" }}
            </div>
            {% endfor %}
            <div class="w3-bar-item">
                <input type="submit" class="w3-button w3-dark-grey ims-form-field" value="Update">
            </div>
            <div class="w3-bar-item">
                <a href="/assets/" class="w3-button w3-light-grey ims-form-field">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
